.sub-header {
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(/images/house14.jpeg);
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #fff;
}
.sub-header h1 {
  margin-top: 100px;
}

.homeowner-footer {
  width: 100%;
  margin: auto;
  text-align: center;
  padding: 40px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.homeowner-footer h1 {
  font-size: 20px;
}
.homeowner-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 40px 0;
}

.homeowner-header h2 {
  font-size: 50px;
  width: 100%;
  max-width: 50%;
  font-size: 20px;
  font-weight: 700;
  line-height: 2.2rem;
}
.homeowner {
  width: 80%;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
}

.homeowner-form {
  display: flex;
  flex-wrap: wrap; /* Allow flex items to wrap to the next line */
  justify-content: center; /* Center the flex items horizontally */
}

.card,
.form-card {
  flex: 1 1 300px; /* Set flex basis to 300px and allow flex-grow and flex-shrink */
  margin: 20px; /* Add margin between the cards */
  max-width: 600px; /* Limit the maximum width of the cards */
}

.card {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.card .homeowner-list {
  padding: 20px;
  border-bottom: 1px solid #ccc;
}

.card .homeowner-list h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.card .homeowner-list p {
  font-size: 16px;
  margin: 0;
}

.form-card {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-card h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input,
.form-group select,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.form-group select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23333%333"><path d="M7 10l5 5 5-5z" /></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 12px;
  padding-right: 30px;
}

.form-group textarea {
  resize: vertical;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #f00;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button[type="submit"]:hover {
  background-color: #d00;
}

/* Media queries for responsiveness */
@media only screen and (max-width: 1000px) {
  .homeowner-form {
    flex-direction: column;
  }

  .card,
  .form-card {
    margin: 20px 0;
  }
  .homeowner-header h2 {
    font-size: 20px;
    width: 100%;
    max-width: 80%;
  }
  .list h1 {
    font-size: 20px;
  }
  .form-card h2 {
    font-size: 20px;
  }
}

.testimonials {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.testimonnial-header h1 {
  font-size: 30px;
  display: flex;
  align-content: center;
  justify-content: center;
  padding-top: 80px;
}

.testimonial-card {
  flex: 0 1 calc(33.33% - 20px);
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff3f3;
}
.testimonial-card p {
  color: #000;
}

@media screen and (max-width: 768px) {
  .testimonials {
    flex-direction: column;
  }

  .testimonial-card {
    flex: 1 1 100%;
  }
  .testimonnial-header h1 {
    font-size: 20px;

    padding-top: 40px;
  }
}
