* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* index page */

.home-title {
  display: block;
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
  /* Adjust height as needed */
  padding: 40px;
}
.home-title h2 {
  text-align: center; /* Center align text */
}
.home-title p {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  margin-top: 10px;
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
}
button {
  border: none;
  cursor: pointer;
  color: white;
  background: none;
  transition: all 0.3s ease-in-out;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.item-list::-webkit-scrollbar {
  display: none;
}

.prev-btn {
  background: none;
  cursor: pointer;
}

.next-btn {
  cursor: pointer;
}

.item {
  scroll-snap-align: center;
  min-width: 100%;
  height: 400px;
  background-color: deeppink;
  border-radius: 8px;
  object-fit: cover;
}
.image-item p {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  min-height: 500px;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(/images/house12.jpeg);
  background-position: center;
  background-size: cover;
  position: relative;
}
nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}
nav a {
  width: 150px;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}
.nav-links {
  flex: 1;
  text-align: center;
}
.nav-links ul li {
  list-style-type: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
.nav-links ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 13px;
}
.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li:hover::after {
  width: 100%;
}
.text-box {
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.text-box h1 {
  font-size: 62px;
}
.text-box p {
  margin: 10px 0 40px;
  color: #fff;
  font-size: 14px;
}
.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  text-decoration: none;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  /* position: relative; */
  cursor: pointer;
  margin-top: 20px;
  border-radius: 5px;
}
.hero-btn:hover {
  border: 1px solid #f44336;
  background: #f44336;
  transition: 1s;
}
nav .fa {
  display: none;
}
@media (max-width: 700px) {
  .text-box h1 {
    font-size: 20px;
  }
  .nav-links ul li {
    display: block;
  }
  .nav-links {
    position: fixed;
    background: #f44336;
    width: 200px;
    height: 100vh;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }
  nav .fa {
    display: block;
    cursor: pointer;
    color: #fff;
    font-size: 22px;
    margin: 10px;
  }
  .nav-links ul {
    padding: 30px;
  }
}

/* courses */
.course {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}
h1 {
  font-size: 36px;
  font-weight: 600;
}
p {
  color: #777;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}
.row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}
.course-col {
  flex-basis: 31%;
  background: #fff3f3;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
}
h3 {
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}
.course-col:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}
@media (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}

/* testimonials */
.testimonials {
  width: 80%;
  margin: auto;
  padding-top: 100px;
  text-align: center;
}
.testimonial-col {
  flex-basis: 44%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-justify: newspaper;
  background: #fff3f3;
  cursor: pointer;
  display: grid;
  grid-row: 3;
  grid-gap: 10px;
  padding: 25px;
  margin: 20px;
}
@media (max-width: 700px) {
  .testimonials {
    width: 100%;
  }

  .testimonial-col img {
    margin-left: 0px;
    margin-right: 15px;
  }
}

.testimonial-col img {
  height: 50px;
  width: 50px;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 50%;
}

.testimonial-col p {
  padding: 0;
}
.testimonial-col h3 {
  margin-top: 15px;
  text-align: left;
}
.testimonial-col .fa {
  color: #f44336;
}

/* call to action */
.cta {
  margin: 100px auto;
  width: 80%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(/images/house13.jpeg);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  justify-content: center;
  align-content: center;
  text-align: center;
  padding: 10px 0;
  height: 400px;
}

.cta h1 {
  color: #fff;
  /* margin-bottom: 40px; */
  /* margin-top: 10%; */
  padding: 0;
  width: 100%;
  max-width: 80%;
  margin: auto;
}
@media (max-width: 700px) {
  .cta h1 {
    font-size: 24px;
  }
}

/* footer */

.footer {
  width: 100%;
  text-align: center;
  padding: 30px 0;
}
.home-footer {
  margin: auto;
  text-align: center;
  padding: 40px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.home-footer h1 {
  font-size: 20px;
}
.icons .fa {
  color: #f44336;
  cursor: pointer;
  margin: 0 13px;
  padding: 18px;
}
.fa-heart-o {
  color: #f44336;
}

.carousel {
  position: relative;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
  /* margin-top: 26px; */
  width: 80%;
  margin: auto;
  text-align: center;
  /* padding-top: 100px; */
}

.carousel-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
  border-radius: 5px;
}

.carousel-open:checked + .carousel-item {
  position: static;
  opacity: 100;
}

.carousel-item {
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
}

.carousel-item img {
  display: block;
  height: auto;
  width: 100%;
  height: 600px;
  object-fit: cover;
}

@media (max-width: 700px) {
  .carousel-item img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
}

.carousel-item p {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
}

.carousel-control {
  background: rgba(0, 0, 0, 0.28);
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  display: none;
  font-size: 40px;
  height: 40px;
  line-height: 35px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  cursor: pointer;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-align: center;
  width: 40px;
  z-index: 10;
}

.carousel-control.prev {
  left: 2%;
}

.carousel-control.next {
  right: 2%;
}

.carousel-control:hover {
  background: rgba(0, 0, 0, 0.8);
  color: #aaaaaa;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
  display: block;
}

.carousel-indicators {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}

.carousel-indicators li {
  display: inline-block;
  margin: 0 5px;
}

.carousel-bullet {
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 35px;
}

.carousel-bullet:hover {
  color: #aaaaaa;
}

#carousel-1:checked
  ~ .control-1
  ~ .carousel-indicators
  li:nth-child(1)
  .carousel-bullet,
#carousel-2:checked
  ~ .control-2
  ~ .carousel-indicators
  li:nth-child(2)
  .carousel-bullet,
#carousel-3:checked
  ~ .control-3
  ~ .carousel-indicators
  li:nth-child(3)
  .carousel-bullet {
  color: #f44336;
}

#title {
  width: 100%;
  position: absolute;
  padding: 0px;
  margin: 0px auto;
  text-align: center;
  font-size: 27px;
  color: rgba(255, 255, 255, 1);
  font-family: "Open Sans", sans-serif;
  z-index: 9999;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33),
    -1px 0px 2px rgba(255, 255, 255, 0);
}
